<div class="alert-success">{{successMsg}}</div>
<ng-container  *ngFor="let user of users" >
<div *ngIf="user.dyeCount>0"[class]="user.color">
  <span>{{user.dyeCount}}</span>
</div>
</ng-container>
{{userId}}: {{isActive}}
<!-- <input type="text" class="form-control col-2" name="username" [(ngModel)]="username">
<input type="button" value="Save" (click)="storeUserName(this.username)"> -->
<div class="dye {{currentUser}}"></div>
<div class="row height-column dhadi-box" [class.disable]="!isActive">
  <div class="col-6 card h-50"></div>
  <div class="col-6 card h-50"></div>
  <div class="col-6 card h-50"></div>
  <div class="col-6 card h-50"></div>

  <div *ngFor="let cls of corners" id="{{cls}}" class="dye dye{{cls}}"
   [appDhadi]="cls" [innerText]="cls" draggable="true"></div>
<div class="diagnal"></div>
<div class="diagnal2"></div>
</div>


